.card {
    border: 5px solid gold;
    margin: 100px solid blue;
    width: 100px solid red;

}

.card-body {
    margin: 5px solid black;
    color: red;
    
}

.card-title {
    color: silver;
}

.card-img-top {
    background: darkturquoise
}